In [7]:
#Creating a List
list_of_airlines=["AirIndia","Emirates","British Airways"]

#Finding the Element in the List
airline="Emirates"
if airline in list_of_airlines:
    print("Airline Found")
else:
    print("Airline NOT Found")
    
#Getting the Length of the List
len(list_of_airlines)

Airline Found

3

In [2]:
#Iterating the List using range()
print("Iterating the list using range()")
for index in range(0,len(list_of_airlines)):
    print(list_of_airlines[index])

Iterating the list using range()
AirIndia
Emirates
British Airways

In [6]:
#Iterating the List using IN keyword 
print("Iterating the List Using keyword IN")
for AIRLINE in list_of_airlines:
    print(AIRLINE)

Iterating the List Using keyword IN
AirIndia
Emirates
British Airways

In [14]:
#Slicing the List way-1
list_of_airlines=["AirIndia","Emirates","British Airways"]
len(list_of_airlines)
print("Desired AirLine Form the List:",list_of_airlines[0:1]) 
#Here it Takes only oth position element from the list 
#It will not take the 1st position element from the List

Desired AirLine Form the List: ['AirIndia']

In [16]:
#Slicing the List way-2
list_of_airlines=["AirIndia","Emirates","British Airways"]
len(list_of_airlines)
print("Desired AirLine Form the List:",list_of_airlines[-3:-1])

Desired AirLine Form the List: ['AirIndia', 'Emirates']

In [18]:
list_of_airlines=["AirIndia","Emirates","British Airways"]
list_of_airlines=list_of_airlines+["US Airways","New Zeland Airlines"]
print(list_of_airlines)

['AirIndia', 'Emirates', 'British Airways', 'US Airways', 'New Zeland Airlines']

In [20]:
list_of_airlines[2]=12
print(list_of_airlines)

['AirIndia', 'Emirates', 12, 'US Airways', 'New Zeland Airlines']

In [21]:
#Creating new List with values of 5 times 0
my_list=[0]*5
print(my_list)

[0, 0, 0, 0, 0]

In [22]:
for index in range(1,5):
    my_list[index]=(index-1)*10
    print(my_list)

[0, 0, 0, 0, 0]
[0, 0, 10, 0, 0]
[0, 0, 10, 20, 0]
[0, 0, 10, 20, 30]